In [19]:
#girls

girlnames = ['Samantha', 'Jada', 'Jane', 'Claire', 'Elizabeth', 'Mary', 'Susan', 'Waje', 'Talibat', 'Lilian']
girlages = [17, 16, 17, 18, 16, 18, 17, 20, 19, 17]
girlheights = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]
girlscores = [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

boynames = ['Charles', 'Jude', 'James', 'Kelvin', 'Biodun', 'Wale', 'Kunle', 'Matthew', 'Tom', 'Kayode']
boyages = [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]
boyheights = [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7]
boyscores = [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]

print("GIRL DATA:")
print("NAME | AGE | HEIGHT | SCORE")

for i in range(len(girlnames)):
    print(girlnames[i],"|",girlages[i],"|" ,girlheights[i],"|",girlscores[i])

print("\nBOY DATA:")
print("NAME | AGE | HEIGHT | SCORE")


for i in range(len(boynames)):
    print(boynames[i],"|", boyages[i],"|" , boyheights[i],"|",boyscores[i])

GIRL DATA:
NAME | AGE | HEIGHT | SCORE
Samantha | 17 | 5.5 | 80
Jada | 16 | 6.0 | 85
Jane | 17 | 5.4 | 70
Claire | 18 | 5.9 | 60
Elizabeth | 16 | 5.6 | 76
Mary | 18 | 5.5 | 66
Susan | 17 | 6.1 | 87
Waje | 20 | 6.0 | 95
Talibat | 19 | 5.7 | 50
Lilian | 17 | 5.5 | 49

BOY DATA:
NAME | AGE | HEIGHT | SCORE
Charles | 19 | 5.7 | 74
Jude | 16 | 5.9 | 87
James | 18 | 5.8 | 75
Kelvin | 17 | 6.1 | 68
Biodun | 20 | 5.9 | 66
Wale | 19 | 5.5 | 78
Kunle | 16 | 6.1 | 87
Matthew | 18 | 5.4 | 98
Tom | 17 | 5.8 | 54
Kayode | 19 | 5.7 | 60

In [4]:
staff_age = int(input("Enter Your Age: "))
staff_xp = int(input("Enter Your Years of Experience: "))

if staff_xp > 25 and staff_age == 55 or staff_age > 55:
    print("Your ATR is N5,600,000")

elif staff_xp > 20 and staff_xp < 25 and staff_age == 45 or staff_age > 45:
    print("Your ATR is N4,480,000")
    
elif staff_xp > 10 and staff_xp < 20 and staff_age == 35 or staff_age > 35:
    print("Your ATR is N1,500,000")

elif staff_xp < 10 and staff_age == 35 or staff_age < 35:
    print("Your ATR is N5,600,000")

Enter Your Age: 46
Enter Your Years of Experience: 21
Your ATR is N4,480,000