# Python | Pandas DataFrame

### What is Pandas?

<b>pandas</b> is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

### What is a Pandas DataFrame?

<b>Pandas DataFrame</b> is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns.

<img src="images/pandas.jpg">

A Pandas DataFrame will be created by loading the datasets from existing storage. Storage can be SQL Database, CSV file, and Excel file. 
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

Dataframe can be created in different ways here are some ways by which we create a dataframe:

### Creating a dataframe using List:

In [3]:
# import pandas as pd
import pandas as pd
 
# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lyst)

# Print the output.
df

        0
0     CSC
1     102
2      is
3     the
4    best
5  course
6    ever

### Creating a dataframe using dict of narray/lists:

In [5]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Angela', 'Precious', 'Luis', 'Ade', 'Ed'],
        'Age':[20, 21, 19, 18, 20]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

       Name  Age
0    Angela   20
1  Precious   21
2      Luis   19
3       Ade   18
4        Ed   20

### Column Selection:

In [13]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Clem', 'Prince', 'Edward', 'Adele'],
        'Age':[27, 24, 22, 32],
        'Address':['Abuja', 'Kano', 'Minna', 'Lagos'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
df[['Name', 'Qualification']]

     Name Qualification
0    Clem           Msc
1  Prince            MA
2  Edward           MCA
3   Adele           Phd

### Row Selection:
Pandas provide a unique method to retrieve rows from a Data frame.<br>
<i><font color="green">DataFrame.iloc[]</font></i> method is used to retrieve rows from Pandas DataFrame.<br>

In [14]:
import pandas as pg
 
# Define a dictionary containing employee data
data = {'Name':['Oyin', 'Mary', 'David', 'Bola'],
        'Age':[27, 24, 22, 32],
        'Address':['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select first row
df.iloc[0]

Name              Oyin
Age                 27
Address          Asaba
Qualification      Msc
Name: 0, dtype: object

### Read from a file:

In [16]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

# print excel
data

    Employee Names  Years  Assesment Records  Points  Reward
0      Matthew Ade     25              125.3      21  438.55
1   Angela Adebisi     15               77.9      14  181.77
2  Calistus Ndukwe     10              144.2      18  432.60
3   Martha Martins      9               81.5      25  339.58
4    Victor Sayola     18               77.8      33  427.90
5      Adamu Bello     23               99.5      24  398.00

### Select first row from file

In [22]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

df = data.iloc[0]

# print excel
df

Employee Names       Matthew Ade
Years                         25
Assesment Records          125.3
Points                        21
Reward                    438.55
Name: 0, dtype: object

### Selecting Row with Title Header

In [27]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

df = data.head(1)

# print excel
df

  Employee Names  Years  Assesment Records  Points  Reward
0    Matthew Ade     25              125.3      21  438.55

### Looping over rows and columns
A loop is a general term for taking each item of something, one after another.<br> Pandas DataFrame consists of rows and columns so, in order to loop over dataframe, we have to iterate a dataframe like a dictionary.<br><br>
In order to iterate over rows, we can use two functions <i><font color="green">iteritems(), iterrows() </font></i>. These two functions will help in iteration over rows.

In [38]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["Abdul", "Chukwuemeka", "Seyi", "Matt"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

0 name      Abdul
degree      MBA
score        90
Name: 0, dtype: object

1 name      Chukwuemeka
degree            BCA
score              40
Name: 1, dtype: object

2 name        Seyi
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Matt
degree     MBA
score       98
Name: 3, dtype: object

### Looping over Columns :
In order to loop over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns.

In [44]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["Bello", "Kamara", "Ugochi", "David"],
        'degree':["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# creating a list of dataframe columns
columns = list(df)

for i in columns:
 
    # printing the third element of the column
    print (df[i][3])

David
MBA
98

### Saving a DataFrame as CSV file

In [47]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
records = {'name':["Abel", "Kamsi", "Oyode", "Chinelo"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(records)

# saving the dataframe
df.to_csv('record.csv')

## Class Project I

####  Go to www.kaggle.com

Kaggle allows users to find and publish data sets, explore and build models in a web-based data-science environment, work with other data scientists and machine learning engineers, and enter competitions to solve data science challenges.

#### Download the following dataset:
1. Top Apps in Google Play
2. Cryptocurrency Predict Artificial Intelligence V3
3. Programming Laungages and File Format Detection

#### Clue
You can signin with either Google, facebook or Linkedin account

#### Task
Display the first 7 rows of each dataset<br>
Select the first 3 colums of each dataset<br>
Display only one row and header of each dataset

In [56]:
import pandas as pd

df = pd.read_csv("Top-Apps-in-Google-Play.csv")

data = df.head(8)

data

,Unnamed: 0,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False
1,2,YouTube,com.google.android.youtube,Video Players & Editors,Google LLC,https://support.google.com/youtube/topic/24225...,ytandroid-support@google.com,Teen,True,False
2,3,Google,com.google.android.googlequicksearchbox,Tools,Google LLC,https://www.google.com/search/about/,apps-help@google.com,Everyone,True,False
3,4,Google Maps - Navigate & Explore,com.google.android.apps.maps,Travel & Local,Google LLC,http://maps.google.com/about/,apps-help@google.com,Everyone,True,False
4,5,Google Text-to-Speech,com.google.android.tts,Tools,Google LLC,http://www.google.com/,tts-feedback@google.com,Everyone,False,False
5,6,Google Chrome: Fast & Secure,com.android.chrome,Communication,Google LLC,http://www.google.com/chrome/android,apps-help@google.com,Everyone,False,False
6,7,Gmail,com.google.android.gm,Communication,Google LLC,http://support.google.com/mail/bin/topic.py?hl...,apps-help@google.com,Everyone,True,False
7,8,Android Accessibility Suite,com.google.android.marvin.talkback,Tools,Google LLC,https://developer.android.com/guide/topics/ui/...,apps-help@google.com,Everyone,False,False

In [57]:
import pandas as pd

df = pd.read_csv("Top-Apps-in-Google-Play.csv")

data = df.head(8)

data

columns = list(data)

for i in columns:
 
    # printing the third element of the column
    print (data[i][3])

4
Google Maps - Navigate & Explore
com.google.android.apps.maps
Travel & Local
Google LLC
http://maps.google.com/about/
apps-help@google.com
Everyone
True
False

In [59]:
import pandas as pd

df = pd.read_csv("Top-Apps-in-Google-Play.csv")

data = df.head(1)

data

,Unnamed: 0,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False

In [52]:
import pandas as pd

df = pd.read_csv("BTC_DATA_V3.0.csv")

data = df.head(8)

data

        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%
1  24-Mar-22  44013.0  42911.0  44251.0  42658.0  491.66M    2.57%
2  23-Mar-22  42912.0  42373.0  43027.0  41795.0  433.96M    1.27%
3  22-Mar-22  42373.0  41022.0  43327.9  40893.0  537.06M    3.29%
4  21-Mar-22  41022.0  41282.0  41532.0  40530.0  406.62M   -0.62%
5  20-Mar-22  41276.0  42241.0  42301.0  40922.0  308.45M   -2.27%
6  19-Mar-22  42233.0  41768.0  42386.0  41529.6  224.59M    1.11%
7  18-Mar-22  41767.8  40914.6  42308.4  40234.8    2.31B    2.08%

In [60]:
import pandas as pd

df = pd.read_csv("BTC_DATA_V3.0.csv")

data = df.head(8)

data

columns = list(data)

for i in columns:
 
    # printing the third element of the column
    print (data[i][3])

22-Mar-22
42373.0
41022.0
43327.9
40893.0
537.06M
3.29%

In [61]:
import pandas as pd

df = pd.read_csv("BTC_DATA_V3.0.csv")

data = df.head(1)

data

        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%

In [53]:
import pandas as pd

df = pd.read_csv("dataset.csv")

data = df.head(8)

data

   id           file_path  file_size  line_count extension  language
0   1  Markdown/000001.md      34784         572        md  Markdown
1   2    XML/000002.props       3013          44     props       XML
2   3     Text/000003.txt       1076          21       txt      Text
3   4  Markdown/000004.md       8105          84        md  Markdown
4   5  Markdown/000005.md       2763          41        md  Markdown
5   6  Markdown/000006.md       2030          32        md  Markdown
6   7    JSON/000007.json        591          19      json      JSON
7   8    JSON/000008.json        183          11      json      JSON

In [63]:
import pandas as pd

df = pd.read_csv("dataset.csv")

data = df.head(8)

data

columns = list(data)

for i in columns:
 
    # printing the third element of the column
    print (data[i][3])

4
Markdown/000004.md
8105
84
md
Markdown

In [62]:
import pandas as pd

df = pd.read_csv("dataset.csv")

data = df.head(1)

data

   id           file_path  file_size  line_count extension  language
0   1  Markdown/000001.md      34784         572        md  Markdown

## Class Project II

<b>Cadbury Nigeria Plc</b> manufactures and sells branded fast moving consumer goods to the Nigerian market and exports in West Africa. The Company produces intermediate products, such as cocoa butter, liquor, cake and powder. It exports cocoa butter, cake and liquor to international customers, and cocoa powder locally. It operates through three segments: Refreshment Beverages, Confectionery and Intermediate Cocoa Products. The Refreshment Beverages segment includes the manufacture and sale of Bournvita and Hot Chocolate. The Confectionery segment includes the manufacture and sale of Tom Tom and Buttermint. The Intermediate Cocoa Products segment includes the manufacture and sale of cocoa powder, cocoa butter, cocoa liquor and cocoa cake. The Refreshment Beverages' brands include CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCOLATE. The Confectionery's brands include TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT. The Intermediate Cocoa Products' brands include COCOA POWDER and COCOA BUTTER.

You have been employed as an expert python developer to create a program to document the consumption categories of their products and brands. Using your knowledge of Pandas DataFrames develop the program that saves the list of products (export, segments and brands) in a .csv excel file.<br><br>
Hint: save the filename as <font color="green"><i>cadbury_market.csv</i></font>.

In [72]:
import pandas as pd

dicts = {'CONFECTIONERY PRODUCTS': ["Tom Tom Classic", "Tom Tom Strawberry", "Buttermint", "", "", ""],
       'BEVERAGE PRODUCTS': ["Cadbury 3-in-1 Hot Chocolate", "Cadbury Bournvita", "", "", "", ""],
       'INTERMEDIATE COCOA PRODUCTS': ["Cocoa Powder", "Cocoa Butter", "Cocoa Liquor", "Cocoa Cake", "", ""],
       'SEGMENTS': ["REFRESHMENT BEVERAGES", "CONFECTIONERY", "INTERMEDIATE COCOA PRODUCTS", "", "", ""],
       'BRANDS': ["Bournvita and Hot Chocolate", "Tom Tom and Buttermint", "Cocoa Powder", "Cocoa Butter", "Cocoa Liquor", "Cocoa Cake"]}

df = pd.DataFrame(dicts)

df.to_csv('cadbury_market.csv')